###########################################
#                                         #
#                                         #
#     THIS IS THE STRUCTURE               #
#     DO NOT SET YOUR VARS HERE!          #
#     CREATE A .env FILE INSTEAD          #
#     OR:                                 #
#     .env.development.local              #
#     .env.development                    #
#     .env.test.local                     #
#     .env.test                           #
#     .env.production.local               #
#     .env.production                     #
#                                         #
#                                         #
# #########################################

###
# MAIN VALUES
###
NODE_ENV=development
PORT=3050

###
# CORS
###
WEB_APP_URL=*

###
# POSTGRES
###
POSTGRES_DB="chappygo"
POSTGRES_HOST="localhost"
POSTGRES_PASSWORD="chappygo"
POSTGRES_PORT=5432
POSTGRES_USER="chappygo"

###
# MONGODB
###
MONGO_INITDB_ROOT_USERNAME="chappygo-mongo"
MONGO_INITDB_ROOT_PASSWORD="secret"
MONGO_INITDB_DATABASE="chappygo-mongo"
MONGO_HOST="localhost"
MONGO_USER="chappygo-m"
MONGO_PASS="chappgo-m"
MONGO_PORT="27017"

###
## Session
###
SECRET_SESSION="I SHOULD BE SECRET"

###
## ELASTICSEARCH 
###
MEM_LIMIT=1073741824

###
## MAILCHIMP
###
MAILCHIMP_KEY="ASK FOR THE KEY"

###
## DOCKER
#
# Zookeeper Configuration
ZOOKEEPER_CLIENT_PORT1=2181
ZOOKEEPER_CLIENT_PORT2=2182
ZOOKEEPER_CLIENT_PORT3=2183
ZOOKEEPER_SERVERS=zoo1:2888:3888

# kafka host
KAFKA_INTERNAL_HOST=localhost
KAFKA_1_HOST=localhost
KAFKA_2_HOST=localhost
KAFKA_3_HOST=localhost


KAFKA_BROKERS=localhost:9094,localhost:9095,localhost:9096

# Kafka Ports Configuration
KAFKA_INTERNAL_PORT=9092
KAFKA_1_PORT=9094
KAFKA_2_PORT=9095
KAFKA_3_PORT=9096

# Kafka Advertised Listeners
DOCKER_HOST_IP=localhost


# Kafka Topics Configuration
KAFKA_TOPIC_GET_ANSWER=get-answer
KAFKA_TOPIC_GET_CHAT=get-chat
KAFKA_TOPIC_GET_ALL_CHAT=get-all-chats
KAFKA_TOPIC_GET_DIALOGUE=get-dialogue
KAFKA_TOPIC_GET_MESSAGE=get-message
KAFKA_TOPIC_POST_ANSWER=post-answer
KAFKA_TOPIC_POST_CHAT=post-chat
KAFKA_TOPIC_POST_DOCUMENT=post-document
KAFKA_TOPIC_POST_MESSAGE=post-message
KAFKA_TOPIC_NOTIFY_EMBEDDED=notify-embedded

#AWS
AWS_S3_BUCKET=upload
AWS_S3_REGION=eu-west-2
AWS_S3_ENDPOINT=https://chappygo-bucket.s3.eu-west-2.amazonaws.com
AWS_IAM_ACCESS_KEY="ASK FOR THE KEYS"
AWS_IAM_SECRET_ACCESS_KEY="ASK FOR THE KEY"
