###########################################
#                                         #
#                                         #
#     THIS IS THE STRUCTURE               #
#     DO NOT SET YOUR VARS HERE!          #
#     CREATE A .env FILE INSTEAD          #
#     OR:                                 #
#     .env.development.local              #
#     .env.development                    #
#     .env.test.local                     #
#     .env.test                           #
#     .env.production.local               #
#     .env.production                     #
#                                         #
#                                         #
# #########################################

# NB: Env vars must start with "VITE_" to be catched in the App
# NB: Only call env vars by using "import.meta.env.VITE_SOME_KEY"
# ex: const url = import.meta.env.VITE_MAIN_API_URL || '/test'

VITE_GRAPHQL="/graphql"
VITE_MAIN_API_URL="http://localhost:3050"
VITE_MAIN_WS_URL="ws://localhost:3050"
